.container {
  position: relative;
  height: 100%;
}
.inner {
  width: 500px;
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
}
.inputLayout {
  position: relative;
  height: 35px;
  border: 1px solid #333;
  border-radius: 5px;
  width: 80%;
  display: flex;
  margin: 0 auto;
  .img {
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
  }
  .input:focus {
    border: 1px solid rgb(89, 60, 255);
    box-shadow: 0 0 0 0 rgba(89, 60, 255, 0.171);
  }
}
